{% extends "../base.html" %}
{% load widget_tweaks %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<h1>Forgot your password?</h1>

<script>
  $('.message a').click(function () {
    $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
  });
</script>
<div class="form">
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
  <form method="POST">
    {% for field in form %}
      <div class="form-group">
        {% csrf_token %}
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
          {% for error in form.non_field_errors %}
          <div class="text-danger">
              <p>{{ error }}</p>
          </div>
          {% endfor %}
        </div>
        {% for field in form %}
        <div class="form-group">
          {% render_field field class="form-control" placeholder=field.label %}
          <div class="{% if field.errors %} invalid{% endif %}">
            {% for error in field.errors %}
            <p class="help-block text-danger">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    <input type="submit" value="Send me instructions!">
    <p class="message">Not registered? <a href="{%url 'accounts:signup'%}">Create an account</a></p>
      <p class="message">Already have an account? <a href="{%url 'accounts:login'%}">Login</a></p>
  </form>
</div>
{% endblock %}