{% extends "base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<h1>Set a new password!</h1>
<div class="form">
  <form method="POST">
    {% csrf_token %}
      <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
        {% for error in form.non_field_errors %}
        <div class="text-danger">
            <p>{{ error }}</p>
        </div>
        {% endfor %}
      </div>
      {% for field in form %}
        <div class="form-group" placeholder={{field.label}}>
          {{field}}
          <div class="{% if field.errors %} invalid{% endif %}">
            {% for error in field.errors %}
            <p class="help-block text-danger">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    <input type="submit" value="Change my password">
  </form>
</div>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>

{% endif %}
{% endblock %}